{{error.message}}
<div
  class='container text-bg-light p-5 mt-5 align-items-center cadusuario rounded-top'
>
  <div class='row'>
    <div class='col'>
      <div class='row align-items-center text-center mb-4'>
        <div class='col titulo'>
          <h4 class='mb-3'>
            CADASTRO DA ENTIDADE
          </h4>
          <P>
            Finalize o cadastro,  da associações, cooperativas, movimentos, etc.
            <br />
            Entre na plataforma e ajude pessoas a encontrarem os casos da sua Entidade.
          </P>
        </div>
        <div class='col svg'>
          <svg
            width='150'
            height='169'
            viewBox='0 0 190 169'
            fill='none'
            xmlns='http://www.w3.org/2000/svg'
            xmlns:xlink='http://www.w3.org/1999/xlink'
          >
            <g clip-path='url(#clip0_27675_513)'>
              <path
                d='M94.4688 0.796935C93.3303 2.05304 92.9129 4.6677 93.4821 7.21407C94.0134 9.56689 94.5826 10.7054 94.6205 9.4113C94.6205 8.92176 95.038 7.21407 95.6072 5.65817C97.0872 1.17642 96.518 -1.40409 94.4688 0.796935Z'
                fill='#04245B'
              ></path>
              <path
                d='M83.7672 5.58224C83.2359 6.45506 85.0195 8.00717 87.7518 8.99763C89.2318 9.56686 90.7118 10.212 91.0154 10.4738C91.4329 10.8192 91.5847 10.8192 91.5847 10.5156C91.5847 8.88378 87.1826 5.16101 85.2852 5.16101C84.6021 5.16101 83.919 5.35075 83.7672 5.58224Z'
                fill='#04245B'
              ></path>
              <path
                d='M102.362 6.8308C100.465 7.69982 97.6564 9.90085 97.6564 10.5118C97.6564 10.6598 98.2636 10.546 98.9846 10.2462C100.167 9.85037 101.388 9.58318 102.628 9.44926C104.297 9.29746 105.246 8.95213 106.043 8.31079C107.447 7.13059 107.409 6.86495 105.967 6.33747C104.411 5.80239 104.601 5.76823 102.362 6.8308Z'
                fill='#04245B'
              ></path>
              <path
                d='M54.4328 7.70359C52.118 8.54225 49.3856 11.3505 48.5887 13.6995C47.3744 17.2705 48.0574 21.2892 50.3723 24.0216L51.7005 25.5812L49.9928 26.2226C47.4123 27.213 43.6554 30.8941 42.1754 33.93L40.9231 36.4346L40.8092 45.6523C40.6954 53.6216 40.7713 54.9915 41.3405 56.0541C41.8149 56.9839 42.4842 57.8006 43.3028 58.4482C44.1214 59.0959 45.0701 59.5595 46.0841 59.8072L47.9056 60.2626L48.0195 73.0931C48.1333 85.3885 48.1713 85.9957 48.9303 86.9823C50.3723 88.9139 51.5867 89.5629 53.8257 89.5629C56.0646 89.5629 57.279 88.9139 58.721 86.9823C59.48 85.9919 59.518 85.3885 59.6318 72.2962L59.7457 58.6688H68.4359L68.4739 64.6267C68.4739 70.7782 68.6257 72.9754 69.0052 74.2695C69.2328 74.9146 69.0431 74.9905 67.5252 74.9905H65.7795V86.7546H62.7436V89.7906H127.256V86.7546H124.221V71.0021L122.475 71.1577C120.767 71.2678 120.691 71.2336 120.995 70.3987C121.147 69.9054 121.374 67.0592 121.45 64.0575L121.64 58.6688H130.254L130.368 72.2962C130.482 85.3885 130.52 85.9919 131.279 86.9823C132.721 88.9139 133.935 89.5629 136.174 89.5629C138.413 89.5629 139.628 88.9139 141.07 86.9823C141.829 85.9919 141.867 85.3885 141.981 73.0931L142.094 60.2626L143.916 59.8072C144.933 59.555 145.885 59.09 146.709 58.4431C147.533 57.7962 148.211 56.982 148.698 56.0541C149.229 54.9915 149.305 53.6216 149.191 45.6523L149.077 36.4308L147.825 33.9262C146.345 30.8903 142.588 27.2092 140.007 26.2188L138.3 25.5774L139.59 24.0595C141.278 22.0836 142.157 19.5429 142.051 16.9463C141.946 14.3497 140.863 11.8888 139.021 10.0564C137.982 9.01802 136.733 8.21493 135.357 7.70155C133.982 7.18816 132.512 6.97648 131.047 7.08084C129.582 7.18521 128.157 7.60318 126.868 8.30644C125.579 9.00969 124.456 9.98181 123.575 11.1569C122.368 12.7942 121.671 14.7509 121.57 16.7824C121.468 18.814 121.968 20.8303 123.006 22.5795C124.031 24.2872 124.107 24.5111 123.5 24.5111C121.944 24.5111 119.439 23.2246 112.267 18.8188C102.893 13.0923 102.969 13.1265 100.92 13.1265C99.6677 13.1265 98.9467 13.3579 98.0739 14.1169C95.9108 15.9385 95.7211 19.8851 97.7324 21.7408C98.2257 22.1621 103.197 25.3877 108.813 28.8752C117.39 34.2639 119.098 35.4821 119.515 36.5067C119.856 37.3416 120.046 39.3111 120.046 42.3508V46.9047H117.693C114.506 46.9047 112.343 47.9672 110.863 50.2821L109.762 52.0277L109.876 61.6288L109.99 71.264L108.396 71.116L106.764 71.0021V86.7508H104.108V60.5662H86.2718V86.7508H83.2359V74.9867H80.0103L80.1241 63.5262L80.238 52.0277L79.1375 50.2821C77.6575 47.9672 75.4944 46.9047 72.3067 46.9047H69.9539V42.3508C69.9539 39.3149 70.1436 37.3416 70.4852 36.5067C70.9405 35.4441 72.6103 34.2298 81.4523 28.7272C87.1826 25.1562 92.1539 21.8964 92.5334 21.5169C93.4441 20.4544 93.8995 18.1357 93.4821 16.5077C92.9508 14.5306 91.5847 13.4338 89.3836 13.2024C87.1826 12.9709 87.4482 12.8646 77.7334 18.8188C70.5611 23.2246 68.0564 24.5111 66.5005 24.5111C65.8934 24.5111 65.9693 24.2872 66.9939 22.5795C68.0321 20.8303 68.5318 18.814 68.4305 16.7824C68.3293 14.7509 67.6316 12.7942 66.4246 11.1569C64.4513 8.57261 62.0985 7.36205 58.8349 7.21025C57.3495 7.06779 55.8507 7.23446 54.4328 7.69979V7.70359ZM61.1118 10.5156C63.8062 11.3505 66.121 15.373 65.5898 18.4089C64.9067 22.5453 60.4667 25.5395 56.5959 24.4807C50.1067 22.773 48.8164 13.931 54.5846 10.9292C56.8616 9.75661 58.2657 9.68072 61.1118 10.5156ZM135.036 10.7812C136.276 11.3646 137.32 12.2956 138.041 13.4611C138.762 14.6266 139.128 15.9763 139.097 17.3464C139.059 22.1241 134.619 25.6192 130.065 24.4807C127.674 23.8735 125.207 21.5207 124.6 19.2438C122.968 13.1303 129.344 7.97302 135.036 10.7812ZM90.1426 16.4318C91.2431 17.4223 91.0154 19.0123 89.6113 20.0787C88.9282 20.6062 84.0329 23.6838 78.758 26.9816C66.5764 34.5713 67.2975 33.5505 67.2975 43.0377V49.9406H70.7128C74.7734 49.9406 76.2154 50.5098 77.0123 52.4072C77.6954 54.0808 77.8093 71.7611 77.1262 73.2449C76.5949 74.3833 74.8493 75.1765 73.559 74.8387C71.7375 74.3796 71.4718 73.0551 71.4718 65.0062C71.4718 55.3293 71.8513 55.8644 64.8687 55.7088L59.7077 55.5608V49.9406H56.6718V85.1987L55.6851 85.9577C54.3569 87.0165 53.1426 86.9444 51.8523 85.8439L50.7897 84.9293L50.6759 60.0387L50.6 35.1405H47.9436V46.1457C47.9436 58.4031 48.0574 58.0236 45.401 56.3918C43.5415 55.2951 43.3138 53.8531 43.4656 45.3867C43.6174 37.1101 43.8831 36.0134 46.1979 32.9775C47.4503 31.3419 51.1692 28.3477 51.4728 28.7272C51.5487 28.8031 53.1046 30.8144 54.9262 33.1672L58.2657 37.4137L62.0226 32.5562L65.7795 27.7026L68.398 27.0537C70.4472 26.5262 72.838 25.2701 79.6688 21.0615C84.4123 18.1774 88.5867 15.7829 88.8903 15.7829C89.367 15.8555 89.8068 16.082 90.1426 16.428V16.4318ZM109.838 20.7959C117.086 25.2739 121.602 27.5166 123.5 27.5508C123.803 27.5508 125.739 29.6797 127.788 32.2944C129.837 34.9091 131.621 37.038 131.772 37.038C132.038 37.038 137.009 30.8941 138.3 28.9549C138.603 28.5413 141.07 30.0592 142.588 31.5772C145.965 34.9508 146.61 37.3036 146.61 46.4531C146.61 54.1908 146.307 55.5608 144.371 56.5474C141.943 57.7959 142.057 58.2551 142.057 46.1495V35.1443H139.4V46.2254C139.362 52.3389 139.324 63.5718 139.286 71.1236L139.21 84.9331L138.148 85.8477C136.858 86.9482 135.643 87.0203 134.315 85.9615L133.328 85.2025V49.9406H130.292V55.5608L125.131 55.7088C118.301 55.8644 118.528 55.5987 118.528 63.2644C118.528 68.5392 118.49 68.9149 117.693 69.8637C117.433 70.1906 117.103 70.4553 116.727 70.6385C116.351 70.8218 115.939 70.9189 115.521 70.9229C115.103 70.9269 114.69 70.8376 114.31 70.6616C113.931 70.4856 113.596 70.2273 113.329 69.9054C112.494 68.9149 112.456 68.6872 112.456 61.291C112.456 50.5515 112.836 49.9406 119.287 49.9406H122.703V43.0377C122.703 33.5884 123.462 34.6131 111.242 26.9816C99.2883 19.5094 99.1744 19.4335 99.1744 18.1812C99.1744 17.001 100.161 15.7867 101.072 15.7867C101.413 15.7867 105.36 18.0294 109.838 20.7959ZM61.7569 28.0062C61.1877 28.9549 58.3795 32.4841 58.1898 32.4841C58.0759 32.4841 57.279 31.5013 56.3682 30.3248C55.1539 28.731 54.8882 28.0859 55.2298 27.8582C55.4954 27.7064 57.1272 27.5508 58.8728 27.5508C61.3016 27.5508 61.9467 27.6684 61.7569 28.0062ZM134.77 27.8582C135.112 28.0859 134.808 28.731 133.632 30.3248C133.082 31.091 132.473 31.813 131.81 32.4841C131.621 32.4841 128.812 28.9966 128.243 28.0062C128.053 27.6684 128.699 27.5508 131.127 27.5508C132.873 27.5508 134.505 27.7064 134.77 27.8582ZM101.072 74.9905V86.7546H89.3077V63.2264H101.072V74.9905ZM121.564 80.3034V86.7546H109.421V80.5652C109.421 77.1498 109.534 74.2316 109.686 74.1139C109.838 73.9963 112.532 73.8521 115.758 73.8521H121.564V80.3034ZM80.5795 82.3905V86.7508H68.4359V78.0226H80.5795V82.3905Z'
                fill='#04245B'
              ></path>
              <path
                d='M95.759 68.3874C95.759 69.6777 95.797 69.7156 97.0113 69.6018C98.0739 69.4841 98.2257 69.3361 98.3395 68.2318C98.4534 67.0592 98.4154 67.0175 97.1252 67.0175C95.8349 67.0175 95.759 67.0592 95.759 68.3874Z'
                fill='#04245B'
              ></path>
              <path
                d='M95.759 73.2828C95.759 74.5351 95.8349 74.6072 97.0872 74.6072C98.3395 74.6072 98.4154 74.5351 98.4154 73.2828C98.4154 72.0305 98.3395 71.9546 97.0872 71.9546C95.8349 71.9546 95.759 72.0267 95.759 73.2828Z'
                fill='#04245B'
              ></path>
              <path
                d='M95.759 78.5539C95.759 79.8821 95.797 79.9163 97.1252 79.9163C98.4534 79.9163 98.4534 79.8821 98.3395 78.664C98.2257 77.6052 98.0739 77.4496 97.0113 77.3358C95.797 77.2295 95.759 77.2674 95.759 78.5539Z'
                fill='#04245B'
              ></path>
              <path
                d='M116.707 77.3396C116.821 78.4439 116.972 78.5919 118.073 78.7095C119.249 78.8234 119.287 78.7854 119.287 77.4952C119.287 76.2049 119.249 76.129 117.921 76.129C116.593 76.129 116.593 76.167 116.707 77.3396Z'
                fill='#04245B'
              ></path>
              <path
                d='M116.631 82.7662C116.631 84.0223 116.707 84.0982 117.959 84.0982C119.211 84.0982 119.287 84.0223 119.287 82.7662C119.287 81.5101 119.211 81.438 117.959 81.438C116.707 81.438 116.631 81.5139 116.631 82.7662Z'
                fill='#04245B'
              ></path>
              <path
                d='M75.2667 82.3906C75.2667 83.6429 75.3426 83.715 76.5949 83.715C77.8472 83.715 77.9231 83.6429 77.9231 82.3906C77.9231 81.1383 77.8472 81.0586 76.5949 81.0586C75.3426 81.0586 75.2667 81.1345 75.2667 82.3906Z'
                fill='#04245B'
              ></path>
            </g>
            <path
              d='M8.57429 113.856H3.84993V111.949H8.57429C9.4892 111.949 10.23 111.803 10.7968 111.512C11.3636 111.22 11.7765 110.816 12.0356 110.297C12.3028 109.779 12.4364 109.188 12.4364 108.524C12.4364 107.917 12.3028 107.346 12.0356 106.812C11.7765 106.277 11.3636 105.848 10.7968 105.524C10.23 105.192 9.4892 105.026 8.57429 105.026H4.39645V120.791H2.05249V103.108H8.57429C9.91023 103.108 11.0397 103.338 11.9627 103.8C12.8857 104.261 13.5861 104.901 14.0638 105.719C14.5415 106.528 14.7803 107.455 14.7803 108.5C14.7803 109.633 14.5415 110.601 14.0638 111.403C13.5861 112.204 12.8857 112.815 11.9627 113.236C11.0397 113.649 9.91023 113.856 8.57429 113.856ZM17.7437 103.108H23.5975C24.9254 103.108 26.0467 103.31 26.9616 103.715C27.8847 104.12 28.585 104.719 29.0627 105.512C29.5485 106.298 29.7914 107.265 29.7914 108.415C29.7914 109.225 29.6254 109.965 29.2935 110.637C28.9696 111.301 28.5 111.868 27.8847 112.338C27.2774 112.799 26.5487 113.143 25.6986 113.37L25.0428 113.625H19.5411L19.5168 111.718H23.6704C24.5124 111.718 25.2128 111.573 25.7714 111.281C26.3301 110.982 26.7511 110.581 27.0345 110.079C27.3179 109.577 27.4596 109.022 27.4596 108.415C27.4596 107.735 27.326 107.14 27.0588 106.63C26.7916 106.12 26.3706 105.727 25.7957 105.452C25.229 105.168 24.4962 105.026 23.5975 105.026H20.0876V120.791H17.7437V103.108ZM28.079 120.791L23.7797 112.775L26.2208 112.763L30.5808 120.645V120.791H28.079ZM46.6849 111.39V112.508C46.6849 113.836 46.519 115.026 46.187 116.078C45.855 117.131 45.3773 118.026 44.7539 118.762C44.1305 119.499 43.3815 120.062 42.5071 120.45C41.6408 120.839 40.6692 121.033 39.5923 121.033C38.5479 121.033 37.5884 120.839 36.714 120.45C35.8477 120.062 35.0947 119.499 34.455 118.762C33.8235 118.026 33.3337 117.131 32.9855 116.078C32.6374 115.026 32.4633 113.836 32.4633 112.508V111.39C32.4633 110.063 32.6333 108.876 32.9734 107.832C33.3215 106.779 33.8114 105.885 34.4429 105.148C35.0744 104.403 35.8234 103.836 36.6897 103.448C37.5641 103.059 38.5236 102.865 39.568 102.865C40.6449 102.865 41.6165 103.059 42.4828 103.448C43.3572 103.836 44.1062 104.403 44.7296 105.148C45.3612 105.885 45.8429 106.779 46.1749 107.832C46.5149 108.876 46.6849 110.063 46.6849 111.39ZM44.3653 112.508V111.366C44.3653 110.314 44.256 109.382 44.0374 108.573C43.8268 107.763 43.5151 107.083 43.1022 106.532C42.6893 105.982 42.1832 105.565 41.5841 105.282C40.993 104.998 40.321 104.856 39.568 104.856C38.8393 104.856 38.1795 104.998 37.5884 105.282C37.0055 105.565 36.5035 105.982 36.0825 106.532C35.6695 107.083 35.3497 107.763 35.123 108.573C34.8963 109.382 34.783 110.314 34.783 111.366V112.508C34.783 113.568 34.8963 114.508 35.123 115.325C35.3497 116.135 35.6736 116.819 36.0946 117.378C36.5237 117.928 37.0298 118.345 37.6127 118.629C38.2038 118.912 38.8636 119.054 39.5923 119.054C40.3534 119.054 41.0295 118.912 41.6205 118.629C42.2116 118.345 42.7095 117.928 43.1143 117.378C43.5273 116.819 43.839 116.135 44.0495 115.325C44.26 114.508 44.3653 113.568 44.3653 112.508ZM56.3887 103.108V120.791H54.0812V103.108H56.3887ZM62.0725 103.108V105.026H48.4095V103.108H62.0725ZM70.2703 104.674L64.4165 120.791H62.0239L68.7643 103.108H70.3067L70.2703 104.674ZM75.1768 120.791L69.3109 104.674L69.2744 103.108H70.8168L77.5815 120.791H75.1768ZM74.8732 114.244V116.163H64.9387V114.244H74.8732ZM92.8719 111.985V118.459C92.6533 118.783 92.3052 119.147 91.8275 119.552C91.3498 119.948 90.6899 120.297 89.8479 120.596C89.0139 120.888 87.9371 121.033 86.6173 121.033C85.5405 121.033 84.5487 120.847 83.6418 120.475C82.7431 120.094 81.9618 119.544 81.2979 118.823C80.642 118.094 80.132 117.212 79.7676 116.175C79.4114 115.131 79.2332 113.949 79.2332 112.629V111.257C79.2332 109.937 79.3871 108.759 79.6947 107.723C80.0105 106.686 80.472 105.808 81.0793 105.087C81.6865 104.358 82.4314 103.808 83.3139 103.435C84.1965 103.055 85.2085 102.865 86.3501 102.865C87.7023 102.865 88.8317 103.099 89.7386 103.569C90.6535 104.031 91.366 104.67 91.8761 105.488C92.3942 106.306 92.7262 107.237 92.8719 108.281H90.528C90.4227 107.642 90.2122 107.059 89.8965 106.532C89.5888 106.006 89.1475 105.585 88.5727 105.269C87.9978 104.945 87.257 104.784 86.3501 104.784C85.5324 104.784 84.8239 104.933 84.2248 105.233C83.6256 105.533 83.1317 105.962 82.7431 106.52C82.3545 107.079 82.063 107.755 81.8687 108.548C81.6825 109.342 81.5893 110.237 81.5893 111.233V112.629C81.5893 113.649 81.7067 114.56 81.9416 115.362C82.1844 116.163 82.5286 116.847 82.9739 117.414C83.4192 117.973 83.9495 118.398 84.5648 118.689C85.1883 118.981 85.8765 119.127 86.6295 119.127C87.4634 119.127 88.1395 119.058 88.6577 118.92C89.1759 118.774 89.5807 118.604 89.8722 118.41C90.1636 118.208 90.3863 118.017 90.5401 117.839V113.88H86.4473V111.985H92.8719ZM110.373 111.39V112.508C110.373 113.836 110.207 115.026 109.875 116.078C109.543 117.131 109.065 118.026 108.442 118.762C107.818 119.499 107.069 120.062 106.195 120.45C105.329 120.839 104.357 121.033 103.28 121.033C102.236 121.033 101.276 120.839 100.402 120.45C99.5354 120.062 98.7825 119.499 98.1428 118.762C97.5113 118.026 97.0215 117.131 96.6733 116.078C96.3251 115.026 96.1511 113.836 96.1511 112.508V111.39C96.1511 110.063 96.3211 108.876 96.6612 107.832C97.0093 106.779 97.4991 105.885 98.1307 105.148C98.7622 104.403 99.5112 103.836 100.377 103.448C101.252 103.059 102.211 102.865 103.256 102.865C104.333 102.865 105.304 103.059 106.171 103.448C107.045 103.836 107.794 104.403 108.417 105.148C109.049 105.885 109.531 106.779 109.863 107.832C110.203 108.876 110.373 110.063 110.373 111.39ZM108.053 112.508V111.366C108.053 110.314 107.944 109.382 107.725 108.573C107.515 107.763 107.203 107.083 106.79 106.532C106.377 105.982 105.871 105.565 105.272 105.282C104.681 104.998 104.009 104.856 103.256 104.856C102.527 104.856 101.867 104.998 101.276 105.282C100.693 105.565 100.191 105.982 99.7702 106.532C99.3573 107.083 99.0375 107.763 98.8108 108.573C98.5841 109.382 98.4707 110.314 98.4707 111.366V112.508C98.4707 113.568 98.5841 114.508 98.8108 115.325C99.0375 116.135 99.3614 116.819 99.7824 117.378C100.212 117.928 100.718 118.345 101.3 118.629C101.892 118.912 102.551 119.054 103.28 119.054C104.041 119.054 104.717 118.912 105.308 118.629C105.899 118.345 106.397 117.928 106.802 117.378C107.215 116.819 107.527 116.135 107.737 115.325C107.948 114.508 108.053 113.568 108.053 112.508ZM127.485 103.108V120.791H125.129L116.227 107.152V120.791H113.883V103.108H116.227L125.165 116.783V103.108H127.485ZM134.152 103.108V120.791H131.808V103.108H134.152ZM147.84 116.321C147.84 115.908 147.775 115.544 147.645 115.228C147.524 114.904 147.305 114.613 146.99 114.354C146.682 114.095 146.253 113.848 145.702 113.613C145.16 113.378 144.472 113.139 143.638 112.896C142.763 112.637 141.974 112.35 141.269 112.034C140.565 111.71 139.962 111.342 139.46 110.929C138.958 110.516 138.573 110.042 138.306 109.508C138.039 108.974 137.905 108.362 137.905 107.674C137.905 106.986 138.047 106.35 138.33 105.767C138.614 105.184 139.018 104.678 139.545 104.249C140.079 103.812 140.715 103.472 141.452 103.229C142.188 102.986 143.01 102.865 143.917 102.865C145.245 102.865 146.37 103.12 147.293 103.63C148.224 104.132 148.933 104.792 149.419 105.609C149.904 106.419 150.147 107.285 150.147 108.208H147.815C147.815 107.545 147.674 106.958 147.39 106.447C147.107 105.929 146.678 105.524 146.103 105.233C145.528 104.933 144.799 104.784 143.917 104.784C143.083 104.784 142.395 104.909 141.852 105.16C141.31 105.411 140.905 105.751 140.638 106.18C140.379 106.609 140.249 107.099 140.249 107.65C140.249 108.022 140.326 108.362 140.48 108.67C140.642 108.97 140.889 109.249 141.221 109.508C141.561 109.767 141.99 110.006 142.508 110.224C143.034 110.443 143.662 110.654 144.391 110.856C145.395 111.139 146.261 111.455 146.99 111.803C147.718 112.151 148.317 112.544 148.787 112.981C149.265 113.41 149.617 113.9 149.844 114.451C150.078 114.993 150.196 115.609 150.196 116.297C150.196 117.018 150.05 117.669 149.759 118.252C149.467 118.835 149.05 119.333 148.508 119.746C147.965 120.159 147.313 120.479 146.552 120.706C145.799 120.924 144.957 121.033 144.026 121.033C143.208 121.033 142.403 120.92 141.609 120.693C140.824 120.467 140.107 120.127 139.46 119.673C138.82 119.22 138.306 118.661 137.917 117.997C137.537 117.325 137.347 116.548 137.347 115.665H139.678C139.678 116.273 139.796 116.795 140.031 117.232C140.265 117.661 140.585 118.017 140.99 118.301C141.403 118.584 141.868 118.795 142.387 118.932C142.913 119.062 143.459 119.127 144.026 119.127C144.844 119.127 145.536 119.013 146.103 118.787C146.67 118.56 147.099 118.236 147.39 117.815C147.69 117.394 147.84 116.896 147.84 116.321ZM153.924 103.108H156.195L161.988 117.524L167.769 103.108H170.053L162.863 120.791H161.09L153.924 103.108ZM153.183 103.108H155.187L155.515 113.892V120.791H153.183V103.108ZM168.777 103.108H170.781V120.791H168.45V113.892L168.777 103.108ZM188.513 111.39V112.508C188.513 113.836 188.347 115.026 188.015 116.078C187.683 117.131 187.205 118.026 186.582 118.762C185.958 119.499 185.21 120.062 184.335 120.45C183.469 120.839 182.497 121.033 181.42 121.033C180.376 121.033 179.416 120.839 178.542 120.45C177.676 120.062 176.923 119.499 176.283 118.762C175.651 118.026 175.162 117.131 174.813 116.078C174.465 115.026 174.291 113.836 174.291 112.508V111.39C174.291 110.063 174.461 108.876 174.801 107.832C175.15 106.779 175.639 105.885 176.271 105.148C176.902 104.403 177.651 103.836 178.518 103.448C179.392 103.059 180.352 102.865 181.396 102.865C182.473 102.865 183.444 103.059 184.311 103.448C185.185 103.836 185.934 104.403 186.558 105.148C187.189 105.885 187.671 106.779 188.003 107.832C188.343 108.876 188.513 110.063 188.513 111.39ZM186.193 112.508V111.366C186.193 110.314 186.084 109.382 185.865 108.573C185.655 107.763 185.343 107.083 184.93 106.532C184.517 105.982 184.011 105.565 183.412 105.282C182.821 104.998 182.149 104.856 181.396 104.856C180.667 104.856 180.007 104.998 179.416 105.282C178.833 105.565 178.331 105.982 177.91 106.532C177.498 107.083 177.178 107.763 176.951 108.573C176.724 109.382 176.611 110.314 176.611 111.366V112.508C176.611 113.568 176.724 114.508 176.951 115.325C177.178 116.135 177.502 116.819 177.923 117.378C178.352 117.928 178.858 118.345 179.441 118.629C180.032 118.912 180.692 119.054 181.42 119.054C182.181 119.054 182.857 118.912 183.449 118.629C184.04 118.345 184.538 117.928 184.942 117.378C185.355 116.819 185.667 116.135 185.877 115.325C186.088 114.508 186.193 113.568 186.193 112.508Z'
              fill='#04245B'
            ></path>
            <path
              d='M14.5927 158.452H18.2241C18.1512 159.642 17.8233 160.699 17.2403 161.622C16.6655 162.545 15.8598 163.265 14.8235 163.783C13.7952 164.302 12.5564 164.561 11.1071 164.561C9.97363 164.561 8.9575 164.366 8.05878 163.978C7.16006 163.581 6.39088 163.014 5.75125 162.277C5.11972 161.541 4.63797 160.65 4.30601 159.606C3.97405 158.561 3.80807 157.391 3.80807 156.096V154.869C3.80807 153.574 3.9781 152.404 4.31816 151.359C4.66631 150.307 5.1602 149.412 5.79983 148.675C6.44756 147.938 7.22078 147.372 8.11951 146.975C9.01823 146.578 10.0222 146.38 11.1314 146.38C12.605 146.38 13.8478 146.647 14.8599 147.181C15.8801 147.716 16.6695 148.452 17.2282 149.392C17.7949 150.331 18.135 151.4 18.2483 152.598H14.6049C14.5644 151.885 14.4227 151.282 14.1798 150.788C13.9369 150.286 13.5685 149.91 13.0746 149.659C12.5888 149.4 11.9411 149.27 11.1314 149.27C10.5242 149.27 9.99387 149.384 9.54046 149.61C9.08705 149.837 8.70651 150.181 8.39884 150.643C8.09117 151.104 7.86042 151.687 7.70658 152.391C7.56084 153.088 7.48797 153.906 7.48797 154.845V156.096C7.48797 157.011 7.55679 157.816 7.69443 158.512C7.83208 159.201 8.04259 159.784 8.32597 160.261C8.61745 160.731 8.98989 161.087 9.4433 161.33C9.9048 161.565 10.4594 161.682 11.1071 161.682C11.8682 161.682 12.4957 161.561 12.9896 161.318C13.4835 161.075 13.86 160.715 14.1191 160.237C14.3863 159.759 14.5442 159.164 14.5927 158.452ZM35.1419 155.063V155.901C35.1419 157.245 34.9597 158.452 34.5954 159.521C34.231 160.589 33.7169 161.5 33.053 162.253C32.389 162.998 31.5956 163.569 30.6726 163.966C29.7576 164.362 28.7415 164.561 27.6242 164.561C26.515 164.561 25.4988 164.362 24.5758 163.966C23.6609 163.569 22.8674 162.998 22.1954 162.253C21.5234 161.5 21.0012 160.589 20.6287 159.521C20.2644 158.452 20.0822 157.245 20.0822 155.901V155.063C20.0822 153.711 20.2644 152.505 20.6287 151.444C20.9931 150.375 21.5072 149.465 22.1711 148.712C22.8432 147.959 23.6366 147.384 24.5515 146.987C25.4745 146.59 26.4907 146.392 27.5999 146.392C28.7172 146.392 29.7334 146.59 30.6483 146.987C31.5713 147.384 32.3647 147.959 33.0287 148.712C33.7007 149.465 34.2189 150.375 34.5832 151.444C34.9557 152.505 35.1419 153.711 35.1419 155.063ZM31.462 155.901V155.039C31.462 154.1 31.377 153.274 31.2069 152.561C31.0369 151.849 30.7859 151.25 30.454 150.764C30.122 150.278 29.7172 149.914 29.2395 149.671C28.7618 149.42 28.2152 149.295 27.5999 149.295C26.9846 149.295 26.438 149.42 25.9603 149.671C25.4907 149.914 25.09 150.278 24.758 150.764C24.4341 151.25 24.1872 151.849 24.0172 152.561C23.8471 153.274 23.7621 154.1 23.7621 155.039V155.901C23.7621 156.832 23.8471 157.658 24.0172 158.379C24.1872 159.091 24.4382 159.695 24.7701 160.188C25.1021 160.674 25.5069 161.043 25.9846 161.294C26.4623 161.545 27.0089 161.67 27.6242 161.67C28.2395 161.67 28.7861 161.545 29.2638 161.294C29.7415 161.043 30.1422 160.674 30.4661 160.188C30.79 159.695 31.0369 159.091 31.2069 158.379C31.377 157.658 31.462 156.832 31.462 155.901ZM49.1328 161.476V164.318H40.2306V161.476H49.1328ZM41.4086 146.635V164.318H37.7652V146.635H41.4086ZM58.6544 149.659L53.845 164.318H49.9708L56.5412 146.635H59.0066L58.6544 149.659ZM62.65 164.318L57.8285 149.659L57.4399 146.635H59.9296L66.5364 164.318H62.65ZM62.4314 157.735V160.589H53.092V157.735H62.4314ZM75.0986 156.557H70.5564L70.5321 154.055H74.3456C75.0176 154.055 75.5682 153.97 75.9973 153.8C76.4264 153.622 76.7462 153.367 76.9567 153.035C77.1753 152.695 77.2846 152.282 77.2846 151.796C77.2846 151.246 77.1794 150.8 76.9689 150.46C76.7665 150.12 76.4466 149.873 76.0094 149.72C75.5803 149.566 75.0257 149.489 74.3456 149.489H71.8194V164.318H68.176V146.635H74.3456C75.3738 146.635 76.2928 146.732 77.1025 146.926C77.9202 147.121 78.6125 147.416 79.1792 147.813C79.746 148.21 80.1792 148.712 80.4787 149.319C80.7783 149.918 80.9281 150.63 80.9281 151.456C80.9281 152.185 80.7621 152.857 80.4302 153.472C80.1063 154.088 79.5922 154.59 78.8878 154.978C78.1915 155.367 77.2806 155.582 76.1552 155.622L75.0986 156.557ZM74.9407 164.318H69.5605L70.9814 161.476H74.9407C75.5803 161.476 76.1025 161.375 76.5074 161.172C76.9122 160.962 77.2118 160.678 77.4061 160.322C77.6004 159.966 77.6976 159.557 77.6976 159.095C77.6976 158.577 77.6085 158.128 77.4304 157.747C77.2603 157.367 76.9851 157.075 76.6045 156.873C76.224 156.662 75.722 156.557 75.0986 156.557H71.5887L71.613 154.055H75.9851L76.8231 155.039C77.9 155.023 78.7663 155.213 79.4221 155.61C80.0861 155.999 80.5678 156.505 80.8674 157.128C81.1751 157.751 81.3289 158.419 81.3289 159.132C81.3289 160.265 81.0819 161.221 80.588 161.998C80.0942 162.767 79.3695 163.346 78.4141 163.735C77.4668 164.123 76.309 164.318 74.9407 164.318ZM98.5868 155.063V155.901C98.5868 157.245 98.4046 158.452 98.0403 159.521C97.6759 160.589 97.1618 161.5 96.4979 162.253C95.8339 162.998 95.0405 163.569 94.1175 163.966C93.2025 164.362 92.1864 164.561 91.0691 164.561C89.9599 164.561 88.9437 164.362 88.0207 163.966C87.1058 163.569 86.3123 162.998 85.6403 162.253C84.9683 161.5 84.4461 160.589 84.0736 159.521C83.7093 158.452 83.5271 157.245 83.5271 155.901V155.063C83.5271 153.711 83.7093 152.505 84.0736 151.444C84.438 150.375 84.9521 149.465 85.616 148.712C86.288 147.959 87.0815 147.384 87.9964 146.987C88.9194 146.59 89.9356 146.392 91.0448 146.392C92.1621 146.392 93.1782 146.59 94.0932 146.987C95.0162 147.384 95.8096 147.959 96.4736 148.712C97.1456 149.465 97.6638 150.375 98.0281 151.444C98.4005 152.505 98.5868 153.711 98.5868 155.063ZM94.9069 155.901V155.039C94.9069 154.1 94.8219 153.274 94.6518 152.561C94.4818 151.849 94.2308 151.25 93.8988 150.764C93.5669 150.278 93.1621 149.914 92.6844 149.671C92.2067 149.42 91.6601 149.295 91.0448 149.295C90.4295 149.295 89.8829 149.42 89.4052 149.671C88.9356 149.914 88.5349 150.278 88.2029 150.764C87.879 151.25 87.6321 151.849 87.4621 152.561C87.292 153.274 87.207 154.1 87.207 155.039V155.901C87.207 156.832 87.292 157.658 87.4621 158.379C87.6321 159.091 87.8831 159.695 88.215 160.188C88.547 160.674 88.9518 161.043 89.4295 161.294C89.9072 161.545 90.4537 161.67 91.0691 161.67C91.6844 161.67 92.2309 161.545 92.7086 161.294C93.1863 161.043 93.5871 160.674 93.911 160.188C94.2349 159.695 94.4818 159.091 94.6518 158.379C94.8219 157.658 94.9069 156.832 94.9069 155.901ZM101.21 146.635H107.805C109.157 146.635 110.319 146.837 111.29 147.242C112.27 147.647 113.023 148.246 113.549 149.039C114.076 149.833 114.339 150.809 114.339 151.966C114.339 152.914 114.177 153.727 113.853 154.408C113.537 155.08 113.088 155.642 112.505 156.096C111.93 156.541 111.254 156.897 110.477 157.164L109.323 157.772H103.59L103.566 154.93H107.829C108.469 154.93 108.999 154.816 109.42 154.59C109.841 154.363 110.157 154.047 110.367 153.642C110.586 153.238 110.695 152.768 110.695 152.234C110.695 151.667 110.59 151.177 110.379 150.764C110.169 150.351 109.849 150.035 109.42 149.817C108.991 149.598 108.452 149.489 107.805 149.489H104.854V164.318H101.21V146.635ZM111.096 164.318L107.064 156.436L110.914 156.411L114.995 164.148V164.318H111.096ZM124.334 149.659L119.525 164.318H115.65L122.221 146.635H124.686L124.334 149.659ZM128.33 164.318L123.508 149.659L123.119 146.635H125.609L132.216 164.318H128.33ZM128.111 157.735V160.589H118.772V157.735H128.111ZM140.256 146.635V164.318H136.625V146.635H140.256ZM145.697 146.635V149.489H131.269V146.635H145.697ZM151.648 146.635V164.318H148.016V146.635H151.648ZM161.437 160.626L165.602 146.635H169.659L163.501 164.318H160.829L161.437 160.626ZM157.599 146.635L161.752 160.626L162.384 164.318H159.688L153.567 146.635H157.599ZM185.666 155.063V155.901C185.666 157.245 185.483 158.452 185.119 159.521C184.755 160.589 184.241 161.5 183.577 162.253C182.913 162.998 182.119 163.569 181.196 163.966C180.281 164.362 179.265 164.561 178.148 164.561C177.039 164.561 176.023 164.362 175.1 163.966C174.185 163.569 173.391 162.998 172.719 162.253C172.047 161.5 171.525 160.589 171.152 159.521C170.788 158.452 170.606 157.245 170.606 155.901V155.063C170.606 153.711 170.788 152.505 171.152 151.444C171.517 150.375 172.031 149.465 172.695 148.712C173.367 147.959 174.16 147.384 175.075 146.987C175.998 146.59 177.014 146.392 178.124 146.392C179.241 146.392 180.257 146.59 181.172 146.987C182.095 147.384 182.888 147.959 183.552 148.712C184.224 149.465 184.743 150.375 185.107 151.444C185.479 152.505 185.666 153.711 185.666 155.063ZM181.986 155.901V155.039C181.986 154.1 181.901 153.274 181.731 152.561C181.561 151.849 181.31 151.25 180.978 150.764C180.646 150.278 180.241 149.914 179.763 149.671C179.285 149.42 178.739 149.295 178.124 149.295C177.508 149.295 176.962 149.42 176.484 149.671C176.014 149.914 175.614 150.278 175.282 150.764C174.958 151.25 174.711 151.849 174.541 152.561C174.371 153.274 174.286 154.1 174.286 155.039V155.901C174.286 156.832 174.371 157.658 174.541 158.379C174.711 159.091 174.962 159.695 175.294 160.188C175.626 160.674 176.031 161.043 176.508 161.294C176.986 161.545 177.533 161.67 178.148 161.67C178.763 161.67 179.31 161.545 179.787 161.294C180.265 161.043 180.666 160.674 180.99 160.188C181.314 159.695 181.561 159.091 181.731 158.379C181.901 157.658 181.986 156.832 181.986 155.901Z'
              fill='#04245B'
            ></path>
            <rect
              y='130.191'
              width='190'
              height='8.29091'
              fill='url(#pattern0)'
            ></rect>
            <defs>
              <pattern
                id='pattern0'
                patternContentUnits='objectBoundingBox'
                width='1'
                height='1'
              >
                <use
                  xlink:href='#image0_27675_513'
                  transform='translate(-1.09584) scale(0.00311688 0.0714286)'
                ></use>
              </pattern>
              <clipPath id='clip0_27675_513'>
                <rect
                  width='108.473'
                  height='89.7906'
                  fill='white'
                  transform='translate(40.7637)'
                ></rect>
              </clipPath>
              <image
                id='image0_27675_513'
                width='1024'
                height='14'
                xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABAAAAAAOCAIAAAA+Ovm3AAACh0lEQVR4nO3X24HcIAxAUcl9pP9e0lOs/TACPWALCPf8ZAYLIR6eDfrv7x9xJiKiNj7bbBr/6vwm66HO+MRCb8sP5xfTkXTE6qphZohdbDZpziOruFJMHHjM7utr7yHgG9fDyqRamIh9DSlSPckv3WP7+PKaiKnmxtOk4rKrpZEsBuTuvzZabDFf7zaLsPWSViMXtrq98+Tk85OmUKZp5gcizfFrXvPdTWo89Y3eBXxPNo+8GE0zmnlikvI5b0GJ0W37OxtXX5W2IC1GTOTVpwTEmJwv7eDrE9keznaWNsWY9RWoU8vxq3FO+ZS8jxW9MqezeU3OxajXLGEbv6VIfb9eb57I21fVK5G2L2Wv33EINcfEJN6e9+wN8bmSdnh8UMvBllZDt0vaivmS1zMg/q7reKtE4+KqiMjjmZ4wDRWbX/2DPboC/JHFVDN5GkXsWe1WRo+FjZx+QJ7Do7kij/8OhbFSclkZ6rjif3j82wiYk9U02T5EX40yRO2iKef4kWqr8Z25sfi6H8Lioyc9CsmP9YQP2vuK1GU3VX/BRpG67zWrnT9Jv+ZfAeM1UxGNpZY6+xaUtPNBaI87L8c9je22ae/FiIjqd/zjAIf8h8oP7aXgthq5V6hxNx0xHcdcNYeey2tV+QFoYU97U/yDrabV7v9fKRtaMqtq/vtnMXKdxlJMfeVdOo0qfZrllIZfhZTcNhsap7g9NlKX5XBa4p+91R4bckdbP9cAAAAA/n9cAAAAAICLcAEAAAAALsIFAAAAALgIFwAAAADgIlwAAAAAgItwAQAAAAAuwgUAAAAAuAgXAAAAAOAiXAAAAACAi3ABAAAAAC7CBQAAAAC4CBcAAAAA4CI/r5BDD92Mu/sAAAAASUVORK5CYII='
              />
            </defs>
          </svg>
        </div>
      </div>
      <form
        action='/cadastro/entidade'
        method='POST'
        class='needs-validation'
        enctype='multipart/form-data'
        novalidate=''
      >
        <div class='row g-3'>
          <div class='col-12'>
            <div class='container'>
              <div class='row'>
                <div class='col-12'>
                  <div class='form-group'>
                    <label for='fileField' class='attachment'>
                      <div class='row btn-file'>
                        <div class='btn-file__preview'></div>
                        <div class='btn-file__actions'>
                          <div
                            class='btn-file__actions__item col-xs-12 text-center'
                          >
                            <div class='btn-file__actions__item--shadow'>
                              <i
                                class='fa fa-plus fa-lg fa-fw'
                                aria-hidden='true'
                              ></i>
                              <div class='visible-xs-block'></div>
                              Selecione Uma imagem para o Perfil da Entidade
                            </div>
                          </div>
                        </div>
                      </div>
                      <input name='image' type='file' id='fileField' />
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='col-12'>
            <h4 class='pb-3 mt-3 titulo'>
              Dados
            </h4>
            <label for='nome' class='form-label'>
              Nome da Entidade
            </label>
            <input
              type='text'
              class='form-control'
              id='nome'
              name='nome'
              placeholder=''
              required=''
            />
            <div class='invalid-feedback'>
              informar o nome da entidade
            </div>
          </div>

          <div class='col-12'>
            <label for='cnpj' class='form-label'>
              CNPJ
            </label>
            <input
              type='text'
              class='form-control'
              id='cnpj'
              name='cnpj'
              required=''
            />
            <div class='invalid-feedback'>
              Informe um cnpj válido
            </div>
          </div>

          <div class='col-6'>
            <label for='tipo' class='form-label'>
              Selecione o Tipo
            </label>
            <select class='form-select' id='tipo' name='tipo' required=''>
              <option value=''>
                Selecione...
              </option>
              <option selected>
                MEI
              </option>
            </select>
            <div class='invalid-feedback'>
              selecione o tipo
            </div>
          </div>

          <div class='col-sm-6'>
            <label for='telefone' class='form-label'>
              WhatsApp
            </label>
            <input
              type='text'
              class='form-control'
              id='telefone'
              name='telefone'
              placeholder='(68) 9999-9999'
              required=''
            />
            <div class='invalid-feedback'>
              Informe um telefone válido!
            </div>
          </div>

          <div class='col-12'>
            <label for='detalhe' class='form-label'>
              Fale um pouco sobre
            </label>
            <textarea name="detalhe" class='form-control' id='detalhe'></textarea>
          </div>

          <hr class='my-4' />

          <h5 class='titulo'>
            Marque a localização no Mapa
          </h5>
          <div class='col-12'>
            <div id='map'>
            </div>
          </div>

          <div class='col-3'>
            <label for='cep' class='form-label'>
              cep
            </label>
            <input
              type='text'
              class='form-control'
              id='cep'
              name='cep'
              placeholder='xxxxx-xxx'
              required=''
            />
            <div class='invalid-feedback'>
              Informe seu cep.
            </div>
          </div>

          <div class='col-6'>
            <label for='cidade' class='form-label'>
              Cidade
            </label>
            <select class='form-select' id='cidade' name='cidade' required=''>
              <option value=''>
                Selecione...
              </option>
              <option selected>
                Rio Branco
              </option>
            </select>
            <div class='invalid-feedback'>
              Selecione a Cidade!
            </div>
          </div>

          <div class='col-md-3'>
            <label for='estado' class='form-label'>
              Estado
            </label>
            <select class='form-select' id='estado' name='uf' required=''>
              <option value=''>
                Selecione...
              </option>
              <option selected>
                AC
              </option>
            </select>
            <div class='invalid-feedback'>
              Selecione o Estado!
            </div>
          </div>

          <div class='col-5'>
            <label for='rua' class='form-label'>
              Rua
            </label>
            <input
              type='text'
              class='form-control'
              id='rua'
              name='rua'
              placeholder='Nome da rua'
              required=''
            />
            <div class='invalid-feedback'>
              Informe o nome da rua.
            </div>
          </div>

          <div class='col-5'>
            <label for='bairro' class='form-label'>
              Bairro
            </label>
            <input
              type='text'
              class='form-control'
              id='bairro'
              name='bairro'
              placeholder='Nome do bairro'
              required=''
            />
            <div class='invalid-feedback'>
              Informe o nome do Bairro.
            </div>
          </div>

          <div class='col-2'>
            <label for='numero' class='form-label'>
              Número
            </label>
            <input
              type='text'
              class='form-control'
              id='numero'
              name='numero'
              placeholder='1111'
              required=''
            />
            <div class='invalid-feedback'>
              Informe o número
            </div>
          </div>
        </div>
        <input type='hidden' name='latitude' value='' />
        <input type='hidden' name='longitude' value='' />
        <input type='hidden' name='usuarioId' value='{{usuarioId}}' />

        <hr class='my-4' />

        <button class='w-100 btn btn-primary btn-lg' type='submit'>
          Cadastrar
        </button>
      </form>
    </div>
  </div>
</div>

{{> footer}}

<link
  rel='stylesheet'
  href='https://unpkg.com/leaflet@1.9.3/dist/leaflet.css'
  integrity='sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI='
  crossorigin=''
/>

<script
  src='https://unpkg.com/leaflet@1.9.3/dist/leaflet.js'
  integrity='sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM='
  crossorigin=''
></script>
S
<script>
  var map = L.map('map').setView([-9.9728777, -67.8159813], 13);

  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
  }).addTo(map);

  const popup = L.marker();
  const llt = [];

  const inputLatitude  = document.getElementsByName("latitude")[0];
  const inputLongitude  = document.getElementsByName("longitude")[0];

  function onMapClick(e) {


    popup
      .setLatLng(e.latlng)
      .addTo(map);

    const {lat, lng} = e.latlng;

    inputLatitude.value = lat;
    inputLongitude.value = lng;

    console.log(inputLatitude.value, inputLongitude.value);

  }

  map.on('click', onMapClick);
</script>
<script
  src='https://code.jquery.com/jquery-3.6.1.min.js'
  integrity='sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ='
  crossorigin='anonymous'
></script>
<script src='/public/js/jquery.mask.min.js'></script>
<script src='/public/js/validaformulario.js'></script>
<script src='/public/js/imagepreview.js'></script>
<script src='/public/js/consultacep.js'></script>
<script src='/public/js/getcidade.js'></script>
