{{error.message}}
<div
  class='container text-bg-light p-5 mt-5 align-items-center cadusuario rounded-top'
>
  <div class='row'>
    <div class='col'>
      <div class='row align-items-center text-center mb-4'>
        <div class='col titulo'>
          <h4 class='mb-3'>
            CADASTRO DA ENTIDADE
          </h4>
          <P>
            Finalize o cadastro,  da associações, cooperativas, movimentos, etc.
            <br />
            Entre na plataforma e ajude pessoas a encontrarem os casos da sua Entidade.
          </P>
        </div>
        <div class='col svg'>
          <img src="/public/img/protagonismo.svg" alt="">
        </div>
      </div>
      <form
        action='/cadastro/entidade'
        method='POST'
        class='needs-validation'
        enctype='multipart/form-data'
        novalidate=''
      >
        <div class='row g-3'>
          <div class='col-12'>
            <div class='container'>
              <div class='row'>
                <div class='col-12'>
                  <div class='form-group'>
                    <label for='fileField' class='attachment'>
                      <div class='row btn-file'>
                        <div class='btn-file__preview'></div>
                        <div class='btn-file__actions'>
                          <div
                            class='btn-file__actions__item col-xs-12 text-center'
                          >
                            <div class='btn-file__actions__item--shadow'>
                              <i
                                class='fa fa-plus fa-lg fa-fw'
                                aria-hidden='true'
                              ></i>
                              <div class='visible-xs-block'></div>
                              Selecione Uma imagem para o Perfil da Entidade
                            </div>
                          </div>
                        </div>
                      </div>
                      <input name='image' type='file' id='fileField' />
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='col-12'>
            <h4 class='pb-3 mt-3 titulo'>
              Dados
            </h4>
            <label for='nome' class='form-label'>
              Nome da Entidade
            </label>
            <input
              type='text'
              class='form-control'
              id='nome'
              name='nome'
              placeholder=''
              required=''
            />
            <div class='invalid-feedback'>
              informar o nome da entidade
            </div>
          </div>

          <div class='col-12'>
            <label for='cnpj' class='form-label'>
              CNPJ
            </label>
            <input
              type='text'
              class='form-control'
              id='cnpj'
              name='cnpj'
              required=''
            />
            <div class='invalid-feedback'>
              Informe um cnpj válido
            </div>
          </div>

          <div class='col-6'>
            <label for='tipo' class='form-label'>
              Selecione o Tipo
            </label>
            <select class='form-select' id='tipo' name='tipo' required=''>
              <option value=''>
                Selecione...
              </option>
              <option selected>
                MEI
              </option>
            </select>
            <div class='invalid-feedback'>
              selecione o tipo
            </div>
          </div>

          <div class='col-sm-6'>
            <label for='telefone' class='form-label'>
              WhatsApp
            </label>
            <input
              type='text'
              class='form-control'
              id='telefone'
              name='telefone'
              placeholder='(68) 9999-9999'
              required=''
            />
            <div class='invalid-feedback'>
              Informe um telefone válido!
            </div>
          </div>

          <div class='col-12'>
            <label for='detalhe' class='form-label'>
              Fale um pouco sobre
            </label>
            <textarea name="detalhe" class='form-control' id='detalhe'></textarea>
          </div>

          <hr class='my-4' />

          <h5 class='titulo'>
            Marque a localização no Mapa
          </h5>
          <div class='col-12'>
            <div id='map'>
            </div>
          </div>

          <div class='col-3'>
            <label for='cep' class='form-label'>
              cep
            </label>
            <input
              type='text'
              class='form-control'
              id='cep'
              name='cep'
              placeholder='xxxxx-xxx'
              required=''
            />
            <div class='invalid-feedback'>
              Informe seu cep.
            </div>
          </div>

          <div class='col-6'>
            <label for='cidade' class='form-label'>
              Cidade
            </label>
            <select class='form-select' id='cidade' name='cidade' required=''>
              <option value=''>
                Selecione...
              </option>
              <option selected>
                Rio Branco
              </option>
            </select>
            <div class='invalid-feedback'>
              Selecione a Cidade!
            </div>
          </div>

          <div class='col-md-3'>
            <label for='estado' class='form-label'>
              Estado
            </label>
            <select class='form-select' id='estado' name='uf' required=''>
              <option value=''>
                Selecione...
              </option>
              <option selected>
                AC
              </option>
            </select>
            <div class='invalid-feedback'>
              Selecione o Estado!
            </div>
          </div>

          <div class='col-5'>
            <label for='rua' class='form-label'>
              Rua
            </label>
            <input
              type='text'
              class='form-control'
              id='rua'
              name='rua'
              placeholder='Nome da rua'
              required=''
            />
            <div class='invalid-feedback'>
              Informe o nome da rua.
            </div>
          </div>

          <div class='col-5'>
            <label for='bairro' class='form-label'>
              Bairro
            </label>
            <input
              type='text'
              class='form-control'
              id='bairro'
              name='bairro'
              placeholder='Nome do bairro'
              required=''
            />
            <div class='invalid-feedback'>
              Informe o nome do Bairro.
            </div>
          </div>

          <div class='col-2'>
            <label for='numero' class='form-label'>
              Número
            </label>
            <input
              type='text'
              class='form-control'
              id='numero'
              name='numero'
              placeholder='1111'
              required=''
            />
            <div class='invalid-feedback'>
              Informe o número
            </div>
          </div>
        </div>
        <input type='hidden' name='latitude' value='' />
        <input type='hidden' name='longitude' value='' />
        <input type='hidden' name='usuarioId' value='{{usuarioId}}' />

        <hr class='my-4' />

        <button class='w-100 btn btn-primary btn-lg' type='submit'>
          Cadastrar
        </button>
      </form>
    </div>
  </div>
</div>

{{> footer}}

<link
  rel='stylesheet'
  href='https://unpkg.com/leaflet@1.9.3/dist/leaflet.css'
  integrity='sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI='
  crossorigin=''
/>

<script
  src='https://unpkg.com/leaflet@1.9.3/dist/leaflet.js'
  integrity='sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM='
  crossorigin=''
></script>
S
<script>
  var map = L.map('map').setView([-9.9728777, -67.8159813], 13);

  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
  }).addTo(map);

  const popup = L.marker();
  const llt = [];

  const inputLatitude  = document.getElementsByName("latitude")[0];
  const inputLongitude  = document.getElementsByName("longitude")[0];

  function onMapClick(e) {


    popup
      .setLatLng(e.latlng)
      .addTo(map);

    const {lat, lng} = e.latlng;

    inputLatitude.value = lat;
    inputLongitude.value = lng;

    console.log(inputLatitude.value, inputLongitude.value);

  }

  map.on('click', onMapClick);
</script>
<script src='/public/js/validaformulario.js'></script>
<script src='/public/js/mask.js'></script>
<script src='/public/js/imagepreview.js'></script>
<script src='/public/js/consultacep.js'></script>
<script src='/public/js/getcidade.js'></script>
