<link rel="stylesheet" href="/public/css/chat.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
{{> header-chat}}
<div class="container mt-5">
  {{> chat}}
</div>
<div class="container mt-2 footerlogo ">
  <div class="row text-center">
    <div class="col-4">
      <img class="img-fluid" src="/public/img/SEICT.png" alt="logo seitc">
    </div>
    <div class="col-4">
    <img class="img-fluid"  src="/public/img/SEGOV.png" alt="logo segov">
    </div>
    <div class="col-4">
      <img class="img-fluid"  src="/public/img/gov.png" alt="logo governo do acre">
    </div>
  </div>
</div>


