<div class='container text-center'>
  <div class='row pt-5 mt-5'>
    <div class='col-md-6 col-lg-6 col-sm-12'>
      <div class='row justify-content-center'>
        <form action='/' method='post' style='max-width: 350px  '>
          <div class='mb-3'>
            <img
              height='150px'
              src='/public/img/protagonismo-branco.svg'
              alt=''
              srcset=''
            />
          </div>
          <h3 class='text-start h6 mb-3 fw-normal fw-semibold text-light'>
            FAÇA SEU LOGIN
          </h3>

          {{#if error}}
            <div class='alert alert-danger' role='alert'>
              {{error.message}}
            </div>
          {{/if}}

          <div class='form-floating mb-3'>
            <input
              type='email'
              name='email'
              class='form-control'
              id='floatingInput'
              placeholder='name@example.com'
            />
            <label for='floatingInput'>
              Seu Email
            </label>
          </div>

          <div class='form-floating mb-3'>
            <input
              type='password'
              name='password'
              class='form-control'
              id='floatingPassword'
              placeholder='Password'
            />
            <label for='floatingPassword'>
              Senha
            </label>

            <div class='invalid-feedback'>
              Insira sua senha
            </div>
          </div>

          <button class='w-100 btn btn-lg btn-primary' type='submit'>
            Entrar
          </button>
          <p class='mt-5 mb-3 text-muted'>
            © 2022
          </p>
        </form>
        <div class="d-block d-sm-block d-md-none" style="max-width: 350px ">
      {{> footer}}
     </div>
      </div>


    </div>


    <div class='col-md-6 col-lg-6 text-end d-none d-md-block d-lg-block '>
      <a href='/sobre-projeto' class="link-light" style="text-decoration:none">
        <img src="/public/img/play.svg" alt="play" style="font-color:red">
            Conheça o Projeto
      </a>
      <div class='text-center'>

        <div class='image-bg'>
          <img
            src='/public/img/pessoas.png'
            height='310px'
            alt=''
            srcset=''
          />
        </div>
        <div>
         {{> footer}}
        </div>
      </div>
    </div>
  </div>
  <main class='form-signin w-100 m-auto'>
  </main>
</div>
