<link rel="stylesheet" href="/public/css/chat.css">
{{> header}}
<div class="container mt-5">
  {{#if solicitacoes}}

    {{> lista-solicitacao}}

  {{else}}
    <div class="row pb-5 text-light">
      <div class="col-12 text-center p-5">
        <img src="/public/img/solicitacao.svg" alt="solicitação" class="mt-5 mb-3">
        <h4 class="bg-ligth">Nenhuma solicitação por aqui...</h4>
      </div>
    </div>
  {{/if}}
</div>
{{> modal-solicitacao}}
{{> footer}}
<script type='text/javascript'>
  (() => {
    function getaudio(){
     navigator.mediaDevices.getUserMedia({ audio: true }).then(
    (stream) => {

        mediaRecorder = new MediaRecorder(stream);
        let chunks = [];
        mediaRecorder.ondataavailable = data => {
            chunks.pop();
            chunks.push(data.data)
        }
        mediaRecorder.onstop = () => {
          const blob = new Blob(chunks, { type: 'audio/webm; codecs=opus' })
          const reader = new FileReader()
          reader.readAsDataURL(blob)
          reader.onloadend = async () => {
            $('#audio-play audio').remove();
            $('input[name="audio"]').remove();
            const audio = document.createElement('audio')
            audio.src = await reader.result
            audio.controls = true
            audio.controlsList="nodownload noplaybackrate"
            audio.classList.add("audio");
            $('<input>').attr({
                type: 'hidden',
                id: 'audio',
                name: 'audio'
            }).val(reader.result)
            .appendTo('#form-solicitacao');
            $('#audio-play').append(audio);
          }
        }

    $(function(){
      $(".audio").bind('mousedown touchstart' ,function(event){
        $(".audio").addClass("btn-danger")
        .removeClass("btn-success")
        .html("<span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span> Gravando...");
         mediaRecorder.start();
      });

    });

    $(function(){
      $(".audio").bind('mouseup touchend', function(){
        $(".audio").addClass("btn-success").removeClass('btn-danger')
        .html("<img src='/public/img/mic.svg' alt='mic' />Enviar um Audio");
         mediaRecorder.stop();
      });
    });


    },
    (err) => {
      if(err.name == 'NotAllowedError') {
        $('.error-audio').append('<p class="text-danger">Você deve permitir o uso do Microfone ')
        navigator.permissions.query({ name: 'microphone' }).then((permissionStatus) => {
              permissionStatus.onchange = () => {
                document.location.reload();
              };
            });
      } else {
      $('.audio').remove();
      }
    });
    }
    getaudio();
  })();


</script>

<script type='text/javascript'>
  const form = document.getElementById('form-solicitacao');
  jQuery(function($){
    $('#btnSubmit').click(function(event){

       if (!form.checkValidity()) {
          event.preventDefault();
          event.stopPropagation();
        } else {
            var formData = {
            tipo: $('select[name="tipo"]').val(),
            assunto: $('input[name="assunto"]').val(),
            texto: $('#texto').val(),
            audio: $('input[name="audio"]').val(),
          };
            {{!-- arquivo: $('input[name="arquivo"]').prop('files')[0], --}}

          $.ajax({
            type: "POST",
            url: "/painel/solicitacao",
            data: formData,
            dataType: "json",
            encode: true,
          }).done(function (data) {
            form.classList.remove('was-validated');

            $('#audio-play audio').remove();
            $('select[name="tipo"]').val('');
            $('input[name="assunto"]').val('');
            $('#texto').val('');
            $('input[name="arquivo"]').val('');
            $('input[name="audio"]').remove();
            location.reload();
          });
        }
        form.classList.add('was-validated');
        event.preventDefault();
    });
  });

  jQuery(function($){
    var myModalEl = document.getElementById('staticBackdrop');
    $('.closeModal').click(()=> {
    var modal = bootstrap.Modal.getInstance(myModalEl)
      modal.hide();
    })
    myModalEl.addEventListener('hidden.bs.modal', event => {
     form.classList.remove('was-validated');
     $(this).find('form').trigger('reset');
     $('#audio-play audio').remove();
    })


  })
</script>




