<link rel="stylesheet" href="/public/css/chat.css">
{{> header}}
<div class="container mt-5">
  {{#if solicitacoes}}

    {{> lista-solicitacao}}

  {{else}}
    <div class="row pb-5 text-light">
      <div class="col-12 text-center p-5">
        <img src="/public/img/solicitacao.svg" alt="solicitação" class="mt-5 mb-3">
        <h4 class="bg-ligth">Nenhuma solicitação por aqui...</h4>
      </div>
    </div>
  {{/if}}
</div>

{{> footer}}
<script src="/public/js/validaformulario.js"></script>
