<link rel="stylesheet" href="/public/css/chat.css">
{{> header}}
<div class="container mt-5">
  {{#if solicitacoes}}

    {{> lista-solicitacao}}

  {{else}}
    <div class="row pb-5 text-light">
      <div class="col-12 text-center p-5">
        <img src="/public/img/solicitacao.svg" alt="solicitação" class="mt-5 mb-3">
        <h4 class="bg-ligth">Nenhuma solicitação por aqui...</h4>
      </div>
    </div>
  {{/if}}
</div>

{{> footer}}
<script src="/public/js/validaformulario.js"></script>


<script type='text/javascript'>
  jQuery(function($){
  const formModal = document.getElementById('.form-solicitacao');
                $('.form-solicitacao').submit(function(event){

                    if (!formModal.checkValidity()) {
                      event.preventDefault();
                      event.stopPropagation();
                    }
                    $.post('/painel/solicitacao', $('.form-solicitacao input').serialize(), function(retorno){
                        alert(retorno)
                    });

                    return false;
                });
            });
</script>



<script type='text/javascript'>
  (() => {
    function getaudio(){
      navigator.mediaDevices.getUserMedia({ audio: true }).then(
    (stream) => {

        mediaRecorder = new MediaRecorder(stream);
        let chunks = [];
        mediaRecorder.ondataavailable = data => {
            chunks.push(data.data)
        }
        mediaRecorder.onstop = () => {
          const blob = new Blob(chunks, { type: 'audio/webm; codecs=opus' })
          const reader = new FileReader()
          reader.readAsDataURL(blob)
          reader.onloadend = async () => {
            const audio = document.createElement('audio')
            audio.src = await reader.result
            audio.controls = true
            audio.controlsList="nodownload noplaybackrate"
            audio.classList.add("audio");
            $('#audio-play').append(audio)
          }
        }

    $(function(){
      $(".audio").bind('mousedown touchstart' ,function(event){
        $(".audio").addClass("btn-danger")
        .removeClass("btn-success")
        .html("<span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span> Gravando...");
         mediaRecorder.start();
      });

    });

    $(function(){
      $(".audio").bind('mouseup touchend', function(){
        $(".audio").addClass("btn-success").removeClass('btn-danger')
        .html("<img src='/public/img/mic.svg' alt='mic' />Enviar um Audio");
         mediaRecorder.stop();
      });
    });


    },
    (err) => {
      if(err.name == 'NotAllowedError') {
        $('.error-audio').append('<p class="text-danger">Você deve permitir o uso do Microfone ')
        navigator.permissions.query({ name: 'microphone' }).then((permissionStatus) => {
              permissionStatus.onchange = () => {
                document.location.reload();
              };
            });
      } else {
      $('.audio').remove();
      }



    });
    }
    getaudio();
  })();


</script>
