<div class='row clearfix'>
  <div class='col-lg-12'>
    <div class='card chat-app'>
      <div class='chat'>
        <div class='chat-header'>
          <div class='row justify-content-end'>
            {{#if usuario}}
              <div class='col-12'>
                <a href='javascript:void(0);'>
                  <img src='/avatar/{{usuario.image}}' alt='avatar' />
                </a>
                <div class='chat-about'>
                  <h6 class='m-b-0'>
                    {{usuario.nome}}
                    <br />
                    {{#usuario.Entidade}}
                      <small class='text-muted'>
                        {{nome}}
                      </small>
                    {{/usuario.Entidade}}
                  </h6>
                </div>
              </div>


            {{/if}}

             <div class='col-12'>

                <div class='chat-about'>
                  <h6 class='m-b-0 text-uppercase'>
                   Passarela de pedestre sem iluminação
                  </h6>
                </div>
              </div>
          </div>
        </div>
        <div class='chat-history'>
          <ul class='m-b-0'>
            <li class='clearfix'>
              <div class="float-right">
                <di class="">
                  <div class='message my-message other-message  col-6 float-right '>
                  Moro em uma rua sem saída, próximo a uma passarela de pedestre, onde liga a rua dos Engenheiros a Avenida.
Desde Fevereiro de 2021 foi furtados os cabos de energia que faz a iluminação noturna. Trazendo com isso insegurança a todos moradores e usuários da travessia. Aumentando os números de ocorrências polícias no local por uso e venda de drogas, furtos, <br>
                    <img
                      src='https://bootdey.com/img/Content/avatar/avatar3.png'
                      alt='avatar'
                      class='avatar'
                      height='50px'
                    />
                  </div>
                </di>
              </div>
            </li>

            {{!-- <li class='clearfix'>
              <div class='message-data'>
                <span class='message-data-time'>
                 04/12/2022
                </span>
              </div>
              <div class='message my-message'>
                <img
                  src='https://bootdey.com/img/Content/avatar/avatar2.png'
                  alt='avatar'
                  class='avatar'
                  height='50px'
                />

                Project has been already finished and I have results to show you.
              </div>
            </li> --}}
          </ul>
        </div>
        <div class='chat-message clearfix'>
          <div class='input-group mb-0'>
            <div class='input-group-prepend'>
            </div>
            <input
              type='text'
              class='form-control'
              placeholder='Mensagem ... '
              aria-label="Recipient's username"
              aria-describedby='button-addon2'
            />
            <button class='btn btn-primary' type='button' id='button-addon2'>
              <i class='fa fa-send'></i>
              Enviar
            </button>
            <button class='btn btn-success' type='button' id='button-addon2'>
              <i class='fa fa-microphone'></i>
              Audio
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
