<div class="container mt-5 footerlogo ">
  <div class="row text-center">
    <div class="col-4">
      <img class="img-fluid" src="/public/img/SEICT.png" alt="logo seitc">
    </div>
    <div class="col-4">
    <img class="img-fluid"  src="/public/img/SEGOV.png" alt="logo segov">
    </div>
    <div class="col-4">
      <img class="img-fluid"  src="/public/img/gov.png" alt="logo governo do acre">
    </div>
  </div>
</div>
