<form
  action='/solicitacao'
  method='POST'
  enctype='multipart/form-data'
  class='needs-validation'
  novalidate=''
  id="form-solicitacao"
>
  <div class='mb-3'>
    <select class='form-select' name='tipo' id='tipo' required=''>
      <option value='' selected>
        Selecione o tipo da Solicitação
      </option>
      <option value='demanda'>
        Demanda
      </option>
      <option value='informacao'>
        informação
      </option>
      <option value='denuncia'>
        Denúncia
      </option>
      <option value='sugestao'>
        Sugestão
      </option>
      <option value='outros'>
        Outros
      </option>
    </select>
    <div class='invalid-feedback'>
      Selecione o tipo
    </div>
  </div>
  <div class='mb-3 input-group-lg'>
    <input
      type='text'
      class='form-control'
      name='assunto'
      id='assunto'
      placeholder='Assunto'
      required=''
    />

    <div class='invalid-feedback'>
      Informe o assunto da solicitação
    </div>
  </div>
  <div class='mb-3'>
    <textarea
      class='form-control'
      name='texto'
      id='descricao'
      placeholder='Messagem'
      style="height: 200px"
      required=''
    ></textarea>
  </div>
  <div class=''>
    <label for='arquivo' class='form-label text-primary fw-semibold'>
      * Anexe imagem(s) ou arquivos PDF
      <small class='text-muted'>
        (opcional)
      </small>
    </label>
    <input
      class='form-control'
      type='file'
      name='arquivos'
      id='arquivo'
      multiple
    />
  </div>
  <div class='d-grid mt-3'>
  <div id='audio-play' class='d-grid gap-2 mb-3'></div>
    <div class='error-audio'></div>
    <label class='form-label text-danger'>
      <small class='text-muted'>
        (opcional)
      </small>

      <br />
      *Mantenha o botao prescionado para iniciar a gravação.
    </label>
    <button type='button' class='btn btn-success btn-lg audio'>
      <img src='/public/img/mic.svg' alt='mic' />
      Enviar um Audio
    </button>
  </div>
  <br />

  <button type='button'class='btn btn-primary' id="btnSubmit">
        Enviar Solicitação
  </button>
</form>

<script type='text/javascript'>

  jQuery(function($){
    $('#btnSubmit').click(function(event){
      const form = document.getElementById('form-solicitacao');

       if (!form.checkValidity()) {
          event.preventDefault();
          event.stopPropagation();
        } else {
          $('#btnSubmit').addClass("disabled").html('Enviando   <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>')
          $.ajax({
            type: "POST",
            url: $(form).attr('action'),
            data: new FormData(form),
            contentType: false,
            processData: false,
            cache: false,
          }).done(function (data) {
            form.classList.remove('was-validated');
            $('#audio-play audio').remove();
            $(form).trigger('reset');
            alert('Solicitação Cadastrada com Sucesso!', 'success')
            $('#menu #pills-home-tab').on('show.bs.tab', function(){
              document.location.reload();
            });
          });
         $('#btnSubmit').removeClass("disabled").html('Enviar Solicitação')
        }
        form.classList.add('was-validated');
        event.preventDefault();
    });
  });
</script>
