<nav class='navbar navbar-expand-lg bg-light sticky-top'>
  <div class='container'>
    <a class='navbar-brand titulo h1' href='#'>
      <img
        src='/avatar/{{usuario.image}}'
        height='50px'
        alt='logo protagonismo colaborativo'
        class="rounded"
        />
      {{usuario.nome}}
    </a>


    <a class='navbar-brand ' href='#'>
      <img
        src='/public/img/protagonismo-vertical.svg'
        height='50px'
        alt='logo protagonismo colaborativo'
      />
    </a>
    <div class='d-flex'>
      <div class='btn-group' role='group' aria-label='Basic example'>
        <button
          type='button'
          class='btn btn-primary'
          data-bs-toggle='modal'
          data-bs-target='#staticBackdrop'
        >
          Fazer Solicitação
        </button>
        <a href='/logout' class='btn btn-outline-danger' type='button'>
          Sair
        </a>
      </div>
    </div>
  </div>
</nav>

{{> modal-solicitacao}}
