<nav class='navbar navbar-expand-lg bg-light sticky-top'>
  <div class='container'>


    <a class='navbar-brand ' href='#'>
      <img
        src='/public/img/protagonismo-vertical.svg'
        height='40px'
        alt='logo protagonismo colaborativo'
      />
    </a>
    <div class='d-flex'>
      <div class='btn-group' role='group' aria-label='Basic example'>
        <a href="/painel"
          class='btn btn-primary'
        >
          Painel
        </a>
        <a href='/sair' class='btn btn-outline-danger' type='button'>
          Sair
        </a>
      </div>
    </div>
  </div>
</nav>
