 <div class="col">
          <div class="profile-card-4 z-depth-3">
          {{#if usuario}}
            <div class="card border border-0">
              <div class="card-body text-center bg-primary rounded-top">
              <div class="user-box">
                <img src="/avatar/{{usuario.image}}" alt="user avatar">
              </div>
              <h5 class="mb-1 text-white">{{usuario.nome}}</h5>
              {{#usuario.Entidade}}
                <h6 class="text-light">{{nome}}</h6>

              {{/usuario.Entidade}}
            </div>

            </div>

          {{/if}}
          </div>

</div>

