<!-- Modal -->
<div
  class='modal fade'
  id='staticBackdrop'
  data-bs-backdrop='static'
  data-bs-keyboard='false'
  tabindex='-1'
  aria-labelledby='staticBackdropLabel'
  aria-hidden='true'
>
  <div class='modal-dialog modal-dialog-centered modal-dialog-scrollable'>
    <div class='modal-content bg-light'>
      <div class='modal-header'>
        <h1 class='modal-title fs-3 lh-1 titulo' id='staticBackdropLabel'>
          CADASTRAR NOVA SOLICITAÇÃO
        </h1>
      </div>
      <div class='modal-body'>
        <form
          class='needs-validation'
          novalidate=''
          id='form-solicitacao'
          enctype='multipart/form-data'
          method="POST"
          action="/painel/solicitacao"
        >
          <div class='mb-3'>
            <select class='form-select' name='tipo' id='tipo' required=''>
              <option value='' selected>
                TIPO DE SOLICITAÇÃO...
              </option>
              <option value='mei'>
                MEI
              </option>
            </select>
            <div class='invalid-feedback'>
              Selecione o tipo
            </div>
          </div>
          <div class='mb-3 input-group-lg'>
            <input
              type='text'
              class='form-control'
              name='assunto'
              id='assunto'
              placeholder='Assunto'
              required=''
            />

            <div class='invalid-feedback'>
              Informe o assunto da solicitação
            </div>
          </div>
          <div class='mb-3'>
            <textarea
              class='form-control'
              name='texto'
              id='descricao'
              placeholder='Messagem'
              required=''
            ></textarea>
          </div>
          {{!-- <div class="">
            <label for="arquivo" class="form-label text-primary fw-semibold">* Anexe uma imagem ou PDF <small class="text-muted">(opcional)</small></label>
            <input class="form-control" type="file" name="arquivo" id="arquivo">
          </div>
          <hr class='my-4' /> --}}
          <div id="audio-play" class="d-grid gap-2 mb-3"></div>
          <div class='d-grid'>
            <div class='error-audio'></div>
             <label class="form-label text-danger"><small class="text-muted"> (opcional)</small> <br> *Mantenha o botao prescionado para iniciar a gravação.</label>
            <button type='button' class='btn btn-success btn-lg audio'>
              <img src='/public/img/mic.svg' alt='mic' />
              Enviar um Audio
            </button>
          </div>
          <br />

          <div class='modal-footer'>
            <div class='btn-group'>
              <button type='button' id="btnSubmit" class='btn btn-primary'>
                Enviar Solicitação
              </button>
              <button
                type='button'
                class='btn btn-danger closeModal'
              >
                Cancelar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
